<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-icon item-left name="phone-portrait-outline"></ion-icon>
      <ion-input placeholder="输入key" [(ngModel)]="key"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon item-left name="lock-outline"></ion-icon>
      <ion-input type="password" placeholder="输入secret" [(ngModel)]="secret" #input></ion-input>
    </ion-item>
    
    <button ion-button (click)="getAccount()">获取账户</button>
  </ion-list>
  <ion-grid>
      <ion-row>
        <ion-col *ngFor="let item of coin(); let i = index" col-2>
          <ion-note color="primary">{{item.currency_code}}</ion-note>
          <ul>
              <li ion-text [color]="item.currency_code === 'ocx'? 'danger' : null">数量: {{item.balance}}</li>
              <li>锁定: {{item.locked}}</li>
          </ul>
        </ion-col>
      </ion-row>
    </ion-grid>
  <button ion-button (click)="getPrice()">获取价格</button>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of sort(); let i = index" col-2>
        <ion-note [color]="item.market_code === 'ocxeth'? 'secondary' : 'primary'">{{item.market_code}}</ion-note>
        <ul>
            <li>当前: {{item.open}}</li>
            <li>卖出: {{item?.sell}}</li>
            <li>买入: {{item?.buy}}</li>
            <li>今高: {{item?.high}}</li>
            <li>今低: {{item?.low}}</li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>

  <button ion-button (click)="getOrders()">获取订单</button>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of orders; let i = index" col-3>
        <ion-note color="primary">{{item.market_code}}</ion-note>
        
        <ul>
            <li ion-text [color]="item.currency_code === 'ocx'? 'danger' : null">价格: {{item.price}}</li>
            <li>状态: {{item.state}}</li>
            <li>时间: {{item.created_at}}</li>
            <li>交易数量：{{item.volume}}</li>
            <li>已成交数量：{{item.executed_volume}}</li>
            <li>未成交数量：{{item.remaining_volume}}</li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
