<div [appPage]="{sub: true}" class="bylh-tools-movie">
  <div class="bylh-header">
    <div class="bylh-left-icon">
      <mat-icon (click)="back()" color="primary">arrow_back_ios</mat-icon>
    </div>
    <div class="bylh-title">热门电影</div>
  </div>
  <div class="container pure-g">
    <div class="movie-card pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4" *ngFor="let movie of movies"
      padding-bottom>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="movie-header-image"></div>
          <mat-card-title>{{movie.title}}</mat-card-title>
          <mat-card-subtitle>{{movie.original_title}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="movie.images.large" />
        <mat-card-content>
          <p>
            <span>评分：{{movie.rating.average}}</span>
            &nbsp;
            <span>收藏数：{{movie.collect_count}}</span>
          </p>
          <p>
            年份：{{movie.year}}
          </p>
          <p>
            类别：{{movie.genres.join(', ')}}
          </p>
          <p>
            主演：{{movie.directors | spread:'name'}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a [href]="movie.alt" target="_blank" mat-button>链接</a>
          <button mat-button>收藏</button>
        </mat-card-actions>
      </mat-card>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
