<div class="bylh-home bylh-page-base mat-app-background" #home>

  <!-- multi允许同时展开多个项目 -->
  <mat-accordion multi>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          常用网站
        </mat-panel-title>
        <mat-panel-description>
          <!-- 搜索 翻译等 -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="5" rowHeight="50px" role="list">
        <mat-grid-tile role="listitem" class="tile" *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
          <a [href]="tile.url" target="_blank">{{tile.text}}</a>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          推荐阅读
        </mat-panel-title>
        <mat-panel-description>
          <!-- 文章 -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
        <ng-container *ngFor="let item of items">
          <mat-list-item [routerLink]="['detail', 1]" [queryParams]="{link: item.link}">
            <img matListAvatar [src]="item.imgUrl" alt="...">
            <h3 matLine>{{item.title}}</h3>
            <p matLine>
              {{item.discription}}
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>

      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- <iframe width="100%" frameborder="0" height="100%" seamless src="http://dict.youdao.com/?keyfrom=dict2.index"></iframe> -->
  <div>
    <!-- <a [routerLink]="['detail', 1]" [queryParams]="{info: 'detail我是传递的参数'}">测试</a> -->
  </div>
  <router-outlet></router-outlet>
</div>
