.bylh-home {
  .content {
    position: relative;
    height: 100%;
    widows: 100%;
    overflow: hidden;
    .container {
      overflow: auto;
      height: 100%;
      width: 100%;
      box-sizing: border-box; // 设置此属性使得padding不会影响高度和宽度 https://blog.csdn.net/lzhlzz/article/details/52937310
      padding-bottom: 56px; // fab button高度为56px
      .tile a {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none; // 去除a标签下划线
      }
    }

    .add-fab-button {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
