.bylh-home-detail {

  .bylh-header {
  }

  .bylh-content {
    mat-form-field {
      width: 100%;

      textarea {
        resize: none // 去除右下角角标
      }
    }

    .preview {
      padding: 8px;
    }
  }
}
