.bylh-home-detail {
  .bylh-header {}

  .bylh-content {
    .main-container {
      display: flex;
      flex-direction: column;
      height: 100%;

      .sidenav-container {
        height: 100%;
        margin-top: 0 !important; // 默认56px为toolbar预留位置
        flex: 1;

        mat-sidenav {
          position: absolute;
        }
      }

    }

    .is-mobile .sidenav-container {
      /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
      flex: 1 0 auto;
    }

    .preview-container {
      padding: 16px;
      mat-form-field {
        width: 100%;

        textarea {
          resize: none // 去除右下角角标
        }
      }
    }

    .iframe-container {
      height: 100%;

      iframe {
        display: block;
      }
    }
  }
}
