<div class="bylh-app">
  <mat-toolbar class="app-toolbar" color="primary">
    <!-- ================模块一 头部=====================-->
    <mat-toolbar-row class="header">
      <!-- 标题 -->
      <div class="title">{{ title }}</div>

      <!-- 显示用户名 -->
      <div class="email">{{userId}}</div>

      <!-- 用户菜单 > 重置密码 登出 测试推送 -->
      <mat-menu #appMenu="matMenu">
        <ng-container *ngIf="isLogined">
          <button mat-menu-item (click)="resetPwd()">重置密码</button>
          <button mat-menu-item (click)="logout()">登出</button>
        </ng-container>
        <button mat-menu-item (click)="push()">推送</button>
        <button mat-menu-item (click)="test()">测试</button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>

    <!-- ================模块二 登录注册部分=====================-->
    <mat-toolbar-row *ngIf="!isLogined" class="user-action">
      <input type="email" [(ngModel)]="user" placeholder="用户名" #emailInput />
      <input type="password" [(ngModel)]="pwd" placeholder="密码" #pwdInput />
      <div>
        <button mat-button (click)="login(emailInput?.value, pwdInput?.value)">登录</button>
        <button mat-button (click)="signUp(emailInput?.value, pwdInput?.value)">注册</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="content">
    <!-- ================模块三 路由页面部分=====================-->
    <nav mat-tab-nav-bar backgroundColor="theme" class="app-nav">
      <a mat-tab-link routerLink="/home" routerLinkActive #homeTab="routerLinkActive" [active]="homeTab.isActive">首页</a>
      <a mat-tab-link routerLink="/discovery" routerLinkActive #discoveryTab="routerLinkActive" [active]="discoveryTab.isActive">发现</a>
      <a mat-tab-link href="http://www.nicetool.net/list/shenghuo/" target="_blank" routerLinkActive #toolsTab="routerLinkActive"
        [active]="toolsTab.isActive">工具</a>
      <a mat-tab-link routerLinkActive #meTab="routerLinkActive" [active]="meTab.isActive">个人</a>
    </nav>
    <div class="app-page">
      <!-- 路由页面占位符 -->
      <router-outlet></router-outlet>
      <router-outlet name="popup"></router-outlet>
    </div>
  </div>
</div>
