<!--The content below is only a placeholder and can be replaced.-->
<div class="bylh-app">
  <h2 class="title" (click)="push()">
    {{ title }}
  </h2>
  <nav>
    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile [style.background]="'lightblue'">
        <a routerLink="/home">首页</a>
      </mat-grid-tile>
      <mat-grid-tile [style.background]="'lightgreen'">
        <a routerLink="/discovery">发现</a>
      </mat-grid-tile>
      <mat-grid-tile [style.background]="'lightpink'">
        <a href="http://search.chongbuluo.com/" target="_blank">工具</a>
      </mat-grid-tile>
    </mat-grid-list>

    <table border="1" class="main-table">
      <tr>
        <th (click)="logout()">登出</th>
        <th (click)="resetPwd()">重置密码</th>
      </tr>
      <tr *ngIf="!isLogined">
        <td>
          <input [(ngModel)]="user" placeholder="user" />
        </td>
        <td>
          <input [(ngModel)]="pwd" placeholder="pwd" />
        </td>
        <th>
          <button mat-raised-button color="primary" (click)="login()">登录</button>
        </th>
      </tr>
      <tr>
        <td>
          <input [(ngModel)]="user" placeholder="user" />
        </td>
        <td>
          <input [(ngModel)]="pwd" placeholder="pwd" />
        </td>
        <th (click)="signUp()">注册</th>
      </tr>
    </table>
    <mat-form-field>
        <input matInput placeholder="Enter your email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </nav>

  <router-outlet></router-outlet>
</div>
