.bylh-app {
  height: 100%; // 设置页面高度为100%
  display: flex;
  flex-direction: column; // 垂直方向flex

  // toolboor部分
  .app-toolbar {
    flex: 0 0 auto; // 自身高度，不压缩
    .header {
      .title {
        flex: 1 1 auto;
      }
      .user {
        flex: 0 1 auto;
      }
      .email {
        font-size: 1rem;
      }
    }
    .user-action {
      flex-wrap: wrap; // flex布局换行
      height: auto;
      button {
        padding: 0;
        min-width: 60px;
      }
    }
  }
  .content {
    /* edge浏览器必须指定高度，否则app-page中滚动条没法使用, 120px是头部的最大高度了,其实只要指定一个比
    100% - 头部高度小的值都可以，flex自动填充, chrome可以不用指定 TODO 查找原因，看看有没有其他方法 */
    height: calc(100% - 120px);

    flex: 1 1 auto; // 扩展高度，可压缩
    display: flex; // nav部分
    flex-direction: column;
    @media screen and (max-width: 500px) { // 宽度小于500px反向，变为手机tab式按钮
      flex-direction: column-reverse !important;
    }
    .app-nav {
      flex: 0 0 auto; // 自身高度，不压缩
      .active {
        color: hotpink;
      }
    }
    .app-page {
      flex: 1 1 auto; // 剩余空间高度，可压缩
      overflow-y: auto; // 超出部分设置滚动条
    }
  }
}
