.bylh-discovery {
  .bylh-content {
    .seg-viewport {
      height: 100%;

      /deep/ .cdk-virtual-scroll-content-wrapper {
        width: 100%;
      }

      .items-container {
        img {
          width: 100%;
        }
      }
    }
  }
}
