.bylh-preview-editor {
  .bylh-header {}

  .bylh-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    .input-container {
      mat-form-field {
        width: 100%;
      }

      .input-title {
        font-size: 1.5rem;
      }

      .tags {
        display: flex;
        padding-bottom: 4px;
        .tags-select {
          width: 55px;
        }
      }
    }

    .editor-container {
      position: relative;
      flex: 1 1 auto;
      height: 100%;
      min-height: 0; // 只要子元素使用了100%， 父容器最好设置min-height

      // display: flex;
      // 改了组件的代码 TODO待研究清楚flex宽度的问题
      // /deep/ .tui-editor-defaultUI {
      //     width: 100%;
      // }
      .switch-icon {
        height: 31px;
        line-height: 31px; // line-height和高度一致确保居中
        padding: 0 8px;
        position: absolute;
        top: 0;
        right: 0;
        color: blue;
      }

    }
  }
}
