/* You can add global styles to this file, and also import other style files */
// 主题
// @import "~@angular/material/prebuilt-themes/purple-green.css";
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// purecss 先后次序很关键
@import '~purecss/build/tables-min.css';
@import '~purecss/build/grids-min.css';
@import '~purecss/build/grids-responsive-min.css';

// fontawesome
@import '~@fortawesome/fontawesome-free/css/all.css';

// tui-editor编辑器相关
@import '~codemirror/lib/codemirror.css'; // codemirror
@import '~tui-editor/dist/tui-editor.css'; // editor ui
@import '~tui-editor/dist/tui-editor-contents.css'; // editor content
@import '~tui-color-picker/dist/tui-color-picker.css';
@import '~highlight.js/styles/github.css'; // code block highlight

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  .bylh-page-base {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .bylh-sub-page-base {
    // 路由子页面
    position: fixed;
    top: 0;
    // 绝对定位布局div宽高自适应，而不是充满
    left: 0;
    right: 0;
  }

  .bylh-header {
    flex: none; // 相当于 0 0 auto

    display: flex;
    justify-content: space-between;

    .bylh-title {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
    }

    .bylh-left-icon,
    .bylh-right-icon {
      padding: 8px;
      display: flex;
      align-items: center;
    }
  }

  .bylh-content {
    flex: auto; // 相当于 1 1 auto
    overflow: auto;
    width: 100%;
    height: 100%;
    min-height: 0;
  }

  .bylh-footer {
    flex: none; // 相当于 0 0 auto
  }

  /* 修复tui-editor一些问题 */
  pre {
    white-space: pre-wrap; // pre标签自动换行，同时保留空白字符
    word-wrap: break-word;
  }

  // 改变字体大小
  .tui-editor-contents {
    font-size: 16px;
    // background-color: rgba(194, 241, 210, 0.685);
    // opacity: 0.8;
    // filter: alpha(opacity=80);
  }


  .te-toolbar-section,
  .tui-editor-defaultUI-toolbar {
    // 保持编辑工具栏始终展开，否则有bug(...按钮小视图显示不出来)
    height: auto;
  }
}

[padding] {
  padding: 16px;
}

[padding-left] {
  padding-left: 16px !important;
}

[padding-right] {
  padding-right: 16px !important;
}

[padding-top] {
  padding-top: 16px !important;
}

[padding-bottom] {
  padding-bottom: 16px !important;
}

[margin] {
  margin: 16px;
}

[margin-left] {
  margin-left: 16px !important;
}

[margin-right] {
  margin-right: 16px !important;
}

[margin-top] {
  margin-top: 16px !important;
}

[margin-bottom] {
  margin-bottom: 16px !important;
}

[blackbg] {
  background: rgb(66, 66, 66) !important;
}
