<div class="bylh-home-detail bylh-page-base bylh-sub-page-base mat-app-background">
  <div class="header">
    <div class="left-icon" (click)="back()">
      <mat-icon color="primary">arrow_back_ios</mat-icon>
    </div>
    <div class="title">{{article != null? article?.title : '详情'}}</div>
    <div [hidden]="articleId == null" class="right-icon">
      <mat-icon color="warn" padding-right (click)="removeArticle($event)">delete</mat-icon>
      <mat-icon color="primary" (click)="edit()">create</mat-icon>
    </div>
  </div>
  <div class="content">
    <iframe *ngIf="articleId == null" width="100%" frameborder="0" height="100%" seamless sandbox="allow-scripts allow-same-origin allow-popups"
      [src]="link | safe:'resourceUrl'"></iframe>

   
      <mat-form-field [hidden]="articleId == null" appearance="outline">
        <mat-label>简介</mat-label>
        <textarea [value]="article?.description" matInput disabled></textarea>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      </mat-form-field>
 

    <div [hidden]="articleId == null" class="preview" #preview>
    </div>
  </div>

</div>
