.bylh-home-detail {
    display: flex;
    flex-direction: column;
    .header {
        flex: 0 0 auto;
        display: flex;
        justify-content: space-between;
        .title {
            flex: 1 1 auto;
            text-align: center;
        }
    }
    .content {
        flex: 1 1 auto;
        display: flex; // 注意： 必须设为display为flex， 若为block则高度100%不是分割后的100%，而是最顶层的100%
        height: 100%;
        .preview {
            flex: 1 1 auto;
        } 
    }
}