# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
www/build/main.js.map
www/index.html
www/assets/fonts/ionicons.scss
www/assets/fonts/ionicons.svg
www/assets/fonts/noto-sans.scss
www/assets/fonts/roboto.scss
www/build/main.css
www/build/main.js
www/build/polyfills.js
www/build/sw-toolbox.js
www/build/vendor.js
www/build/vendor.js.map
