<div class="bylh-profile bylh-page-base mat-app-background">
  <div class="form-container" *ngIf="!auth.getAuthSubject().getValue()">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <mat-form-field backgroundColor="primary" color="primary">
        <input matInput placeholder="Email" name="email" type="email" [formControl]="form.controls['email']"
          [errorStateMatcher]="matcher">
        <!-- <mat-hint>email</mat-hint> -->
        <mat-error *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="form.controls['email'].hasError('required')">
          Email is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" name="password" type="password" [formControl]="form.controls['password']"
          [errorStateMatcher]="matcher">
        <!-- <mat-hint>email</mat-hint> -->
        <mat-error *ngIf="form.controls['password'].hasError('minlength')">
          Enter at least 6-digit password
        </mat-error>
        <mat-error *ngIf="form.controls['password'].hasError('required')">
          Password is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary" margin-right>登录</button>
      <button mat-flat-button color="primary" margin-right type="button" (click)="signUp()">注册</button>
    </form>
  </div>
  <div></div>


  <mat-card>
    <img mat-card-image src="https://bit.bylh.top/images/defaultbg.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header>
      <img mat-card-avatar src="https://bit.bylh.top/avatars/img1.jpg" />
      <mat-card-title>{{auth.getAuthSubject().getValue()}}</mat-card-title>
      <mat-card-subtitle>区块链</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile
        dog that copes
        very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    <mat-card-footer>
      <button mat-raised-button (click)="openDialog()">
        <mat-icon color="primary">home</mat-icon>修改密码
      </button>
      <button mat-raised-button (click)="selectFile.click()">上传文件</button>
      <input hidden type="file" name="fileUpload" (change)="getImg($event)" #selectFile />
      <!-- <div [innerHTML]="html | safe:'html'"></div> -->
      <img *ngIf="fileUpload != null" width="100%" [src]="fileUpload | safe:'url'" />
    </mat-card-footer>
  </mat-card>
</div>
