<div class="bylh-profile bylh-page-base">
  <h5>个人详情</h5>
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <mat-form-field>
        <input matInput placeholder="Email" name="email" type="email" [formControl]="form.controls['email']"
          [errorStateMatcher]="matcher">
        <!-- <mat-hint>email</mat-hint> -->
        <mat-error *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="form.controls['email'].hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" name="password" type="password" [formControl]="form.controls['password']"
          [errorStateMatcher]="matcher">
        <!-- <mat-hint>email</mat-hint> -->
        <mat-error *ngIf="form.controls['password'].hasError('minlength')">
          Enter at least 6-digit password
        </mat-error>
        <mat-error *ngIf="form.controls['password'].hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button mat-stroked-button color="primary" margin-right>登录</button>
      <button mat-stroked-button color="primary" type="button" (click)="signUp()">注册</button>
      <button mat-stroked-button color="primary" type="button" (click)="logout()">登出</button>
      <button mat-stroked-button color="primary" type="button" (click)="getMarkerList()">测试</button>
    </form>
  </div>


  <ol>
    <li>
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="What's your name?">
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button (click)="openDialog()">Pick one</button>
    </li>
    <li *ngIf="animal">
      You chose: <i>{{animal}}</i>
    </li>
  </ol>
  
</div>
