<div [appPage] class="bylh-profile">
  <div class="bylh-content">
    <div class="form-container" *ngIf="!userId">
      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <mat-form-field backgroundColor="primary" color="primary">
          <input matInput placeholder="Email" name="email" type="email" [formControl]="form.controls['email']" [errorStateMatcher]="matcher">
          <!-- <mat-hint>email</mat-hint> -->
          <mat-error *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="form.controls['email'].hasError('required')">
            Email is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" name="password" type="password" [formControl]="form.controls['password']" [errorStateMatcher]="matcher">
          <!-- <mat-hint>email</mat-hint> -->
          <mat-error *ngIf="form.controls['password'].hasError('minlength')">
            Enter at least 6-digit password
          </mat-error>
          <mat-error *ngIf="form.controls['password'].hasError('required')">
            Password is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" margin-right>登录</button>
        <button mat-flat-button color="primary" margin-right type="button" (click)="signUp()">注册</button>
      </form>
    </div>
    <div></div>


    <mat-card>
      <img class="bg" mat-card-image [src]="profile?.bgUrl | safe:'url'" alt="Photo of a Shiba Inu" (click)="selectBg.click()">
      <input hidden type="file" name="bgFileUpload" (change)="getBgImg($event)" #selectBg />
      <mat-card-header>
        <img mat-card-avatar [src]="profile?.avatarUrl | safe:'url'" (click)="selectAvatar.click()" />
        <input hidden type="file" name="avatarFileUpload" (change)="getAvatarImg($event)" #selectAvatar />
        <mat-card-title>{{userId}}</mat-card-title>
        <mat-card-subtitle>
          {{profile?.signature}}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <mat-form-field appearance="outline" *ngIf="profile != null">
          <mat-label>个人简介</mat-label>
          <textarea rows="6" [(ngModel)]="profile.introduction" matInput disabled></textarea>
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        </mat-form-field>

      </mat-card-content>
      <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions> -->
      <mat-card-footer>
        <div class="footer-container">
          <!-- <button mat-icon-button>
            <mat-icon color="primary">cloud_upload</mat-icon>
          </button> -->
          <button mat-icon-button (click)="editProfile()">
            <mat-icon>border_color</mat-icon>
          </button>
        </div>
        <!-- <div [innerHTML]="html | safe:'html'"></div> -->
        <!-- <img *ngIf="fileUpload != null" width="100%" [src]="fileUpload | safe:'url'" /> -->
      </mat-card-footer>
    </mat-card>
    <!-- <button mat-button (click)="uploadFile('bg')">上传背景到服务器</button>
    <button mat-button (click)="uploadFile('avatar')">上传头像到服务器</button> -->
    <!-- <button mat-button (click)="updateProfile()">更新个人资料</button> -->
  </div>
</div>
