<div class="bylh-chat mat-app-background">
  <div class="container">
    <div class="message-container">
      <dl id="list" #messageList>
      </dl>
    </div>

    <div class="input-container">
      <mat-form-field>
        <input matInput name="message" [(ngModel)]="inputMessage" placeholder="输入消息">
        <mat-icon matSuffix (click)="sendMessage()">send</mat-icon>
      </mat-form-field>
    </div>
  </div>

</div>
<!-- <div>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>关闭</button>
</div> -->
