<div class="bylh-app">
  <mat-toolbar class="app-toolbar" color="primary">
    <!-- ================模块一 头部=====================-->
    <mat-toolbar-row class="header">
      <!-- 标题 -->
      <div class="title">{{ title }}</div>

      <!-- 显示用户名 -->
      <div class="userId">{{userId}}</div>

      <!-- 用户菜单 > 重置密码 登出 测试推送 -->
      <mat-menu #appMenu="matMenu">
        <ng-container *ngIf="isLogined">
          <button mat-menu-item (click)="resetPwd()">重置密码</button>
          <button mat-menu-item (click)="logout()">登出</button>
        </ng-container>
        <button mat-menu-item (click)="push()">推送</button>
        <button mat-menu-item (click)="test()">测试</button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>

    <!-- ================模块二 登录注册部分=====================-->
    <mat-toolbar-row *ngIf="!isLogined" class="user-action">
      <input type="email" [(ngModel)]="user" placeholder="用户名" #emailInput />
      <input type="password" [(ngModel)]="pwd" placeholder="密码" #pwdInput />
      <div>
        <button mat-button (click)="login(emailInput?.value, pwdInput?.value)">登录</button>
        <button mat-button (click)="signUp(emailInput?.value, pwdInput?.value)">注册</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div>
    <a routeLink="/tabs"></a>
    <router-outlet></router-outlet>
  </div>
</div>
