.bylh-app {
  height: 100%; // 设置页面高度为100%
  display: flex;
  flex-direction: column; // 垂直方向flex
  // toolboor部分
  .app-toolbar {
    flex: 0 0 auto; // 自身高度，不压缩
    .header {
      .title {
        flex: 1 1 auto;
      }
      .user {
        flex: 0 1 auto;
      }
      .email {
        font-size: 1rem;
      }
    }
    .user-action {
      flex-wrap: wrap; // flex布局换行
      height: auto;
      button {
        padding: 0;
        min-width: 60px;
      }
    }
  }

  // nav部分
  .app-nav {
    flex: 0 0 auto; // 自身高度，不压缩
    .active {
      color: hotpink;
    }
  }

  .app-page {
    flex: 1 1 auto; // 剩余空间高度，可压缩
    overflow-y: auto; // 超出部分设置滚动条
  }
}
