<!--The content below is only a placeholder and can be replaced.-->
<div class="bylh-app">
  <h2 class="title" (click)="push()">
    {{ title }}!
  </h2>
  <nav>
    <table border="1" class="main-table">
      <tr>
        <th>
          <a routerLink="/home">首页</a>
        </th>
        <th>
          <a routerLink="/discovery">发现</a>
        </th>
        <th><a href="http://search.chongbuluo.com/">工具</a></th>
      </tr>
      <!-- <tr>
          <td>January</td>
          <td>$100</td>
        </tr> -->
    </table>
  </nav>
  <!-- <img width="300" alt="web Logo" src="../assets/link_everything_hove.png"> -->

  <router-outlet></router-outlet>
</div>

