<h1 mat-dialog-title>聊天</h1>
<div mat-dialog-content class="bylh-chat">
  <div class="container">
    <div class="message-container">
      <dl id="list" #messageList>
      </dl>
    </div>

    <div class="input-container">
      <form>
        <mat-form-field>
          <input matInput name="message" [(ngModel)]="inputMessage" placeholder="输入消息">
          <mat-icon matSuffix (click)="sendMessage()">send</mat-icon>
        </mat-form-field>
      </form>
    </div>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>关闭</button>
</div>
