/* You can add global styles to this file, and also import other style files */
// 主题
// @import "~@angular/material/prebuilt-themes/purple-green.css";
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// purecss 先后次序很关键
@import '~purecss/build/tables-min.css';
@import '~purecss/build/grids-min.css';
@import '~purecss/build/grids-responsive-min.css';
// tui-editor编辑器相关
@import '~codemirror/lib/codemirror.css'; // codemirror
@import '~tui-editor/dist/tui-editor.css'; // editor ui
@import '~tui-editor/dist/tui-editor-contents.css'; // editor content
@import '~highlight.js/styles/github.css'; // code block highlight

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  .bylh-page-base {
    height: 100%;
    width: 100%;
  }

  .bylh-sub-page-base {
    // 路由子页面
    position: absolute;
    top: 0;
    // 绝对定位布局div宽高自适应，而不是充满
    left: 0;
    right: 0;
  }

  /* 修复一些问题 */
  pre {
    white-space: pre-wrap; // pre标签自动换行，同时保留空白字符
    word-wrap: break-word;
  }
}

[padding-left] {
  padding-left: 8px;
}

[margin-right] {
  margin-right: 8px !important;
}

[blackbg] {
  background: rgb(66, 66, 66) !important;
}
