.bylh-home {
  position: relative;

  .bylh-content {
    .tile a {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none; // 去除a标签下划线
    }

    .article-viewport {
      flex: 1;
      min-height: 300px;
      /deep/ .cdk-virtual-scroll-content-wrapper {
        width: 100%;
      }
    }
  }

  .bylh-content::after {
    // 使用伪类实现padding, 因为在firefox上可滚动元素padding可被占据，设计的问题，可能不是bug
    display: block;
    height: 56px;
    content: '';
    visibility: hidden;
  }

  .add-fab-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
