.bylh-preview-editor {
    display: flex;
    flex-direction: column;
    .header {
        flex: 0 0 auto;
        display: flex;
        .title {
            flex: 1 1 auto;
            text-align: center;
        }
    }
    .content {
        flex: 1 1 auto;
        display: flex; // 注意： 必须设为display为flex， 若为block则高度100%不是分割后的100%，而是最顶层的100%
        height: 100%;
        width: 100%;
        flex-direction: column;
        .input-title {
            font-size: 1rem;
        }
        .editor-container {
            flex: 1 1 auto;
            display: flex;
            height: 100%;
            width: 100%;
            // 改了组件的代码 TODO待研究清楚flex宽度的问题
            /deep/ .tui-editor-defaultUI {
                width: 100%;
            }
            
        }
    }
    .footer {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
    }
}