<div class="bylh-preview-editor bylh-page-base bylh-sub-page-base mat-app-background">
  <div class="header">
    <div class="left-icon" (click)="cancel()">
      <mat-icon color="primary">clear</mat-icon>
    </div>
    <div class="title">编辑</div>
    <div class="right-icon" (click)="save()">
      <a href="https://stackedit.io/app" target="_blank" padding-right>stackedit</a>
      <mat-icon color="primary">check_box</mat-icon>
    </div>
  </div>
  <div class="content">
    <mat-form-field>
      <input matInput class="input-title" [(ngModel)]="data.title" placeholder="输入标题">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="输入描述" [(ngModel)]="data.description"></textarea>
    </mat-form-field>

    <div class="editor-container">
      <div #editSection></div>
    </div>

  </div>

  <!-- <div class="footer">
    <button mat-button (click)="save()">确定</button>
  </div> -->
</div>
